@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body {
  font-family: "Exo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  width: 100%;
  background: #edf2fc;
  font-family: "Exo", sans-serif;
  position: relative;
}

.wrapper_navbar {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid brown; */
  flex-direction: row-reverse;
}

.wrapper_navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  /* border: 1px solid brown; */
}

.wrapper_navbar ul li a {
  text-decoration: none;
  color: #606163;
  margin: 10px 20px;
}

.wrapper_navbar ul li a:hover {
  color: brown;
  border-bottom: 5px solid rgb(241, 5, 5);
  transition: all 0.4s linear;
}

.wrapper_intro {
  margin-left: 18%;
  width: 100%;
}
.wrapper_intro div {
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
  display: flex;
  text-align: end;
  /* border: 1px solid black; */
  width: 70%;
}

.wrapper_intro h1 {
  font: 70px;
  color: #212121;
  margin-bottom: 20px;
}

span {
  color: brown;
}

.wrapper_intro p {
  color: #606163;
  line-height: 22px;
  margin: 30px 20px;
}

.resume_download {
  background: #212121;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid;
  height: 25px;
  /* margin-left: -400px; */
}

.profile_pic {
  width: 45%;
  height: 40%;
  position: absolute;
  bottom: 220px;
  right: 10px;
  /* border: 10px solid red; */
}

.profile_pic img {
  height: 100%;
  position: absolute;
  left: 30%;
  bottom: 0;
  transform: translateX(-50);
  border: 10px solid #838a99;
  border-radius: 50%;
}

.profile_pic:hover {
  transform: translateX(-50);
  transition: bottom 1s;
}

.social_links {
 
  display: flex;
  margin-top: 40px;
  margin-right: 150px;
  /* border: 1px solid; */
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-left: 100px;
 margin-bottom: 30px;
}
.social_links a {
  font-size: 30px;
  color: #739ae9;
  margin-right: 15px;
  width: 50px;
  margin-left: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 0px 10px grey;
}

.social_links a:hover {
  color: brown;
}

.contact_details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contact_details p {
  line-height: 30px;
  width: 400px;
  margin-top: 10px;
  font-family: "Exo", sans-serif;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 0px 10px rgb(125, 125, 179);
}

.contact_details h1 {
 text-align: center;
  color: brown;
  font-weight: bolder;
}

.about_me {
  margin-left: 18%;
  min-height: 40vh;
}
.about_me div {
  position: absolute;
  top: 250px;
}

.about_me h1 {
  margin-left: 100px;
  color: brown;
  font-weight: bolder;
}
.about_me p {
  color: #606163;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 130px;
  text-align: center;
}
.about_me span {
  font-size: 20px;
  font-weight: bolder;
}

.tech_stacks {
  /* padding-top: 20px; */

  /* background: #edf2fc; */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 9, 199, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  font-family: "Exo", sans-serif;
  position: relative;
}

.tech_stacks i {
  margin-left: 20%;
  margin-top: 5%;
  font-size: 100px;
  color: blue;
  cursor: pointer;
}
.tech_stacks i:hover {
  transition: all 1s ease-out;
  border: 1px solid;
  border-radius: 2%;
  padding: 10px;
  box-shadow: 50px 5px 20px -10px inherit;
}

.tech_stacks i p {
  font-size: 20px;
}

.tech_stacks h1 {
  margin-right: 200px;
  /* border: 1px solid blue; */
  text-align: right;
  padding-top: 30px;
  color: brown;
  font-weight: bolder;
}

.tech_stacks div p {
  margin-left: 20px;
}

.tech_stacks .htmlicon {
  color: red;
}
.tech_stacks .cssicon {
  color: rgb(102, 255, 0);
}

.tech_stacks .jsicon {
  color: darkmagenta;
}
.tech_stacks .reactjs {
  /* border: 1px solid blue; */

  /* margin-left:250px; */
  color: chocolate;
}

.tech_stacks .nodejs {
  /* border: 1px solid blue; */
  /* margin-left:240px; */
  color: darkgreen;
}

.achivements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* border: 1px solid blue; */
  margin-top: 50px;
}

.achivements .box {
  border: 1px solid black;
  height: 200px;
  padding: 10px 30px 0px 30px;
  margin-left: 30px;
  width: 100px;
  text-align: center;
  border-radius: 5%;
  border: 20px solid brown;
}

.achivements .box .box_content {
  text-align: center;
  margin-top: 60px;
  font-family: "Exo", sans-serif;
  font-size: 30px;
}

.gitResult {
  margin-top: 10px;
  margin-left: 5%;
}
.gitResult img {
  border-radius: 10px;
  width: 98%;
}

.projects {
  height: 100%;
  /* border: 1px solid rgb(208, 208, 245); */
  margin-top: 80px;
  margin-left: 10%;
  width: 75%;
  font-size: 22px;
  padding: 1rem;
}

.projects h1 {
  text-align: center;
  margin: 10px 10px;
  text-shadow: 0 0 3px #ff0000;
}

.card {
  /* background-color: rgb(203, 226, 248); */
  color: rgb(176, 121, 228);
  padding: 1rem;
  height: auto;
  position: relative;
}
.card h1 {
  text-shadow: 1px 1px rgb(252, 62, 167);
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cardcontent {
  /* border: 1px solid black; */
  width: 100%;
}

.cardcontent img {
  width: 100%;
  height: 200px;
}

.cardcontent p {
  padding: 10px;
  margin-top: 10px;
}

/* .cardcontent:hover{
    background-color: white;
} */

.card .techsused i {
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid; */
}

.card .techsused p {
  margin-left: -10px;
}

.techsused-last i {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.techsused-last p {
  margin-left: -10px;
}

.htmlPro {
  color: rgb(161, 8, 8);
}

.jsicon {
  color: deeppink;
}

.reactjs {
  color: rgb(104, 5, 62);
}

.project_link {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.projects a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  color: mediumvioletred;
}

.projects a:hover{
    border-bottom: 1px solid white;
    transform: translate(50);
    transition: all ease-in 1s;
}

.card:hover {
  box-shadow: 10px 10px 5px 10px grey;
  opacity: 1;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #ff7e7e, #ffcdcd);
  color: white;
}



.area {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(236, 9, 199, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  min-height: 80vh;
  position: relative;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@media only screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
    }
  
    .wrapper_intro {
      max-width: 100px;
    }
  
    .social_links {
      flex-direction: row;
      text-align: start;
      /* border: 1px solid; */
      margin-left: -10px;
    }
  
    .contact_details {
      /* border: 1px solid black; */
      flex-direction: column;
    }
    .contact_details h1 {
      margin-left: 0px;
    }

    .profile_pic {
        /* border: 10px solid blue; */
        top: 210px;
    }
  
  
    #profileImg{
        width:100px;
       height: 150px;
    }
      
   
    /* .resume_download {
      text-align: center;
      margin: auto;
      margin-top: 10px;
    } */
    .wrapper_navbar ul li a {
      font-size: 10px;
      flex-direction: column;
    }
    .wrapper_intro {
      font-size: 10px;
    }
  
    .wrapper_intro p {
      margin-left: -100px;
    }
    .wrapper_intro a {
      padding: 5px;
      font-size: 10px;
    }
    .about_me h1 {
      margin-left: 0px;
      margin-top: -100px;
    }
    .about_me div {
      font-size: 10px;
      margin-top: -40px;
    }
  
    .achivements {
      flex-direction: column;
    }
    #hacker_rank {
      font-size: 10px;
    }
  
    .card {
      grid-template-columns: repeat(1, 1fr);
    }
  }

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


